.projectDiv{
 /* Background pattern from Toptal Subtle Patterns */
 height: auto;
 width: 100%;
 background-image: url("https://imagedelivery.net/rXQkQjLMcsIgr9J-xeKCWA/65a3eab3-a093-4124-ad63-93774ae93c00/public");}